<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" routerLink="/">SSR DEMO</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/red">Red</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blue">Blue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/green">Green</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>